<section>

  <h3 id="about-me">About Myself</h3>

  <div class="face-lockup">

    <div class="face-img"></div>

    <div class="icon-latework">{% include icons/icon-latework.html %}</div>
    <div class="icon-deadline">{% include icons/icon-deadline.html %}</div>
    <div class="icon-workdone">{% include icons/icon-workdone.html %}</div>
    <div class="icon-happy">{% include icons/icon-happy.html %}</div>

  </div>


  <div class="blurb">
    {{ site.data.settings.blurb | markdownify }}
  </div>

  {% if site.data.settings.skills %}

  <div class="skill-lockup">

    {% for skill in site.data.settings.skills %}

      <div class="skill-unit">
        <div class="skill-label">{{ skill.name }}</div>
        <div class="skill-icons skill-{{ skill.value }}">
          {% for i in (1..10) %}
            <span></span>
          {% endfor %}
        </div>
      </div>

    {% endfor %}

  </div>

  {% endif %}

</section>
